In [2]:
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

dr = pd.date_range(start='2015-07-01', end='2015-07-31')
df = pd.DataFrame()
df['Date'] = dr

cal = calendar()
holidays = cal.holidays(start=dr.min(), end=dr.max())

df['Holiday'] = df['Date'].isin(holidays)
print (df)

         Date  Holiday
0  2015-07-01    False
1  2015-07-02    False
2  2015-07-03     True
3  2015-07-04    False
4  2015-07-05    False
5  2015-07-06    False
6  2015-07-07    False
7  2015-07-08    False
8  2015-07-09    False
9  2015-07-10    False
10 2015-07-11    False
11 2015-07-12    False
12 2015-07-13    False
13 2015-07-14    False
14 2015-07-15    False
15 2015-07-16    False
16 2015-07-17    False
17 2015-07-18    False
18 2015-07-19    False
19 2015-07-20    False
20 2015-07-21    False
21 2015-07-22    False
22 2015-07-23    False
23 2015-07-24    False
24 2015-07-25    False
25 2015-07-26    False
26 2015-07-27    False
27 2015-07-28    False
28 2015-07-29    False
29 2015-07-30    False
30 2015-07-31    False

In [9]:
df = pd.DataFrame({'full_date': pd.date_range('2016-1-1', periods=18, freq='1H')})

In [10]:
df['date'] = df['full_date'].dt.date
df['time'] = df['full_date'].dt.time

In [11]:
df

             full_date        date      time
0  2016-01-01 00:00:00  2016-01-01  00:00:00
1  2016-01-01 01:00:00  2016-01-01  01:00:00
2  2016-01-01 02:00:00  2016-01-01  02:00:00
3  2016-01-01 03:00:00  2016-01-01  03:00:00
4  2016-01-01 04:00:00  2016-01-01  04:00:00
5  2016-01-01 05:00:00  2016-01-01  05:00:00
6  2016-01-01 06:00:00  2016-01-01  06:00:00
7  2016-01-01 07:00:00  2016-01-01  07:00:00
8  2016-01-01 08:00:00  2016-01-01  08:00:00
9  2016-01-01 09:00:00  2016-01-01  09:00:00
10 2016-01-01 10:00:00  2016-01-01  10:00:00
11 2016-01-01 11:00:00  2016-01-01  11:00:00
12 2016-01-01 12:00:00  2016-01-01  12:00:00
13 2016-01-01 13:00:00  2016-01-01  13:00:00
14 2016-01-01 14:00:00  2016-01-01  14:00:00
15 2016-01-01 15:00:00  2016-01-01  15:00:00
16 2016-01-01 16:00:00  2016-01-01  16:00:00
17 2016-01-01 17:00:00  2016-01-01  17:00:00